<%- include('partials/header'); -%>
<h1>Compose</h1>
<form action="/compose" method="post">
    <label for="title">Title</label><br>
    <input id="title" type="text" name="bodyTitle" autocomplete="off" column="750px" ><br>
    <label for="body">Post</label><br>
    <input type="text" id="body" name="bodyText" autocomplete="off" style="width: 750px; height: 100px;"><br><br>
    <button type="submit" class="btn btn-primary">Publish</button><br>
</form>

<%- include('partials/footer'); -%>

